.main_container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #374151;
    width: 450px;
    margin: 10px 0;
}

img {
    height: 600px;
}


.mainLi{
    padding: 15px 0;
    font-size: 22px;
    color: #888
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 20px;
}