.container {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container ul {
    display: flex
}

ul li {
    padding: 10px;
}


button {
    padding: 15px 20px;
    color: white;
}